@font-face {
    font-family: 'Bahij Janna';
    src: url('./assets/fonts/Bahij_Janna-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('./assets/fonts/Arimo-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('./assets/2006ec73f333f6c73be1e9552c4b4b58.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.page-content {
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.arabic {
    color: #FFF;
    text-align: center;
    font-family: "Bahij Janna";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.english {
    font-family: 'Arimo';
    font-size: 1.125rem;
    font-weight: 700;
}

.book-now {
    border-radius: 200px;
    background: linear-gradient(90deg, #56AB21 0%, #258D56 100%);
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.book-now:hover {
    text-decoration: none;
    opacity: 0.9;
}

.book-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.date-location-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #097E64;
    border-radius: 200px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.date-location {
    font-family: 'Arimo';
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: white;
}

.social-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Arimo';
    font-size: 1rem;
    color: white;
    .email{
            text-decoration: none;
            font-family: 'Arimo';
            font-size: 1rem;
            color: white;
    }
}

.logo{
    width: 20rem;
}